<div class="title_area">
  <%= content_tag :h1, @view.h1 %>
</div>

<div class="modal_container">
  <% @view.modal_forms_name.each do | modal_form_name | %>
    <div class="modal js-modal" id="<%= modal_form_name %>">
      <div class="modal__bg js-modal-close"></div>
      <div class="modal__content form_field">
        <%= render partial: "management/forms/#{modal_form_name}", locals: { view: @view, welcome_event: @welcome_event, recital: @recital, commentary: @commentary, link: @link } %>
        <p><a class="js-modal-close" href="">閉じる</a></p>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="member_all">
    <%= content_tag :h2, '編集者一覧' %>
    <table>
      <tr>
        <th>メールアドレス</th>
        <th>権限</th>
      </tr>
      <% @view.member_all.each do | member | %>
        <tr>
          <%= content_tag :td, member.email %>
          <% if member.is_administrator %>
            <%= content_tag :td do %>
              <%= link_to '編集可能', management_toggle_auth_path(member.id), method: 'post', class: 'btn btn_toggle_auth', data: { confirm: 'このユーザの権限を切り替えますか？' } %>
              <%= link_to '修正', edit_member_registration_path(member.id) %>
            <% end %>
          <% else %>
            <%= content_tag :td do %>
              <%= link_to '編集不可能', management_toggle_auth_path(member.id), method: 'post', class: 'btn btn_toggle_auth unauthorized', data: { confirm: 'このユーザの権限を切り替えますか？' } %>
              <%= link_to '修正', edit_member_registration_path(member.id) %>
            <% end %>
          <% end %>

        </tr>
      <% end %>
    </table>
  </div>

  <div class="welcome_event_all">
    <%= content_tag :h2, '新歓イベント' %>
    <%= link_to '新規イベント作成', '#', class: 'btn btn_add js-modal-open', id: 'btn__welcome_event_form' %>
    <% @view.welcome_event_all.each do | welcome_event | %>
      <div class="welcome_event">
        <table>
          <tr>
            <%= content_tag :td, 'イベント名' %>
            <%= content_tag :td, welcome_event.name %>
          </tr>
          <tr>
            <%= content_tag :td, '公開状態' %>
            <%= content_tag :td, welcome_event.publish_status %>
          </tr>
          <tr>
            <%= content_tag :td, welcome_event.description, colspan: "2" %>
          </tr>
        </table>

        <% welcome_event.each_events.each do | event | %>
          <div class="each_event">
            <table>
              <tr>
                <%= content_tag :td, 'イベント日' %>
                <%= content_tag :td, event.str_date %>
              </tr>
              <tr>
                <%= content_tag :td, '時間' %>
                <%= content_tag :td, event.event_time %>
              </tr>
              <tr>
                <%= content_tag :td, '場所' %>
                <%= content_tag :td, event.site %>
              </tr>
              <tr>
                <%= content_tag :td, 'オンライン' %>
                <%= content_tag :td, event.is_online %>
              </tr>
              <tr>
                <%= content_tag :td, event.description, colspan: "2" %>
              </tr>
            </table>
          </div>
        <% end %>
        <%= link_to 'イベント編集', "/management/welcome_event/#{welcome_event.id}/", class: 'btn btn_edit' %>
        <%= link_to 'イベント削除', "/management/welcome_event/#{welcome_event.id}/destroy", class: 'btn btn_delete', data: { confirm: '削除しますか？'} %>
      </div>
    <% end %>
  </div>

  <div class="recital_all">
  <%= content_tag :h2, '公演情報' %>
    <%= link_to '新規公演作成', '#', class: 'btn btn_add js-modal-open', id: 'btn__recital_form' %>
    <% @view.recital_all.each do | recital | %>
      <div class="recital">
        <table>
          <tr>
            <%= content_tag :td, '公演名' %>
            <%= content_tag :td, recital.name %>
          </tr>
          <tr>
            <%= content_tag :td, '日付' %>
            <%= content_tag :td, recital.str_date %>
          </tr>
          <tr>
            <%= content_tag :td, '開場時刻' %>
            <%= content_tag :td, recital.opening_time %>
          </tr>
          <tr>
            <%= content_tag :td, '開演時刻' %>
            <%= content_tag :td, recital.starting_time %>
          </tr>
          <tr>
            <%= content_tag :td, '場所' %>
            <%= content_tag :td, recital.site %>
          </tr>
          <tr>
            <%= content_tag :td, recital.description, colspan: "2" %>
          </tr>
          <tr>
            <%= content_tag :td, 'ポスター' %>
            <%= content_tag :td do %>
              <%= image_tag recital.poster.to_s %>
            <% end %>
          </tr>
          <tr>
            <%= content_tag :td, '演目' %>
            <td>
              <% recital.programs.each do | program | %>
                <p><%== program.text %></p>
              <% end %>
            </td>
          </tr>
          <% recital.recital_photos.each do | photo | %>
            <tr>
              <td colspan="2"><%= image_tag photo.image.to_s %></td>
            </tr>
          <% end %>
        </table>

        <%= link_to '公演編集', "/management/recital/#{recital.id}/", class: 'btn btn_edit' %>
        <%= link_to '公演削除', "/management/recital/#{recital.id}/destroy", class: 'btn btn_delete', data: { confirm: '削除しますか？'} %>
      </div>
    <% end %>
  </div>

  <div class="commentary_all">
    <%= content_tag :h2, 'Aboutページ' %>
    <p>優先度が高いものがより上に表示されます</p>
    <%= link_to '新規段落作成', '#', class: 'btn btn_add js-modal-open', id: 'btn__commentary_form' %>
    <% @view.commentary_all.each do | commentary | %>
      <div class="commentary">
        <h3><%= commentary.heading %></h3>
        <p><%= "優先度：#{commentary.priority}" %>
        <p class="commentary_content"><%== commentary.content %></p>
        <%= link_to '段落編集', "/management/commentary/#{commentary.id}/", class: 'btn btn_edit' %>
        <%= link_to '段落削除', "/management/commentary/#{commentary.id}/destroy", class: 'btn btn_delete', data: { confirm: '削除しますか？'} %>
      </div>
    <% end %>
  </div>

  <div class="link_all">
    <%= content_tag :h2, 'リンク' %>
    <%= link_to '新規リンク作成', '#', class: 'btn btn_add js-modal-open', id: 'btn__link_form' %>
    <% @view.link_all.each do | link | %>
      <div class="link">
        <table>
          <tr>
            <%= content_tag :td, '表示名' %>
            <%= content_tag :td, link.title %>
          </tr>
          <tr>
            <%= content_tag :td, 'カテゴリ' %>
            <%= content_tag :td, link.link_type %>
          </tr>
          <tr>
            <%= content_tag :td, '流派' %>
            <%= content_tag :td, link.school %>
          </tr>
          <tr>
            <%= content_tag :td, 'URL' %>
            <%= content_tag :td, link.url %>
          </tr>
        </table>
        <%= link_to 'リンク編集', "/management/link/#{link.id}/", class: 'btn btn_edit' %>
        <%= link_to 'リンク削除', "/management/link/#{link.id}/destroy", class: 'btn btn_delete', data: { confirm: '削除しますか？'} %>
      </div>
    <% end %>
  </div>
</div>
