<div class="title_area">
  <%= content_tag :h1, @view.h1 %>
</div>

<div class="container">
  <div class="recital_record_area">
    <% @view.recital_record_groups_by_year.keys.each do | year | %>
      <div class="recital_record_in_fiscal_year">
        <%= content_tag :h3, "#{year}年度" %>
        <% @view.recital_record_groups_by_year[year].each do | recital_record | %>
          <div class="recital_record">
            <%= content_tag :h4, recital_record.name %>
            <%= content_tag :p, recital_record.str_date %>
            <p>
              <% recital_record.programs.each do | program | %>
                <%== program.text %>
              <% end %>
            </p>
            <%= content_tag :h4, '公演写真' if recital_record.recital_photos.present? %>
            <% recital_record.recital_photos.each do | recital_photo | %>
              <%= image_tag recital_photo.image.to_s, class: 'recital_photo__image' %>
              <%= content_tag :div, recital_photo.name, class: 'recital_photo__title' %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= render partial: 'common/contacts',
             locals: {
                      contact_content: @view.contact_content,
                      form_all:        @view.form_all,
                      mail_all:        @view.mail_all,
                      sns_all:         @view.sns_all
                     }
  %>
</div>
