<%= form_with(model: commentary, local: true, url: '/management/commentary') do | form | %>
  <div class="field">
    <%= form.label :heading, '段落タイトル' %>
    <%= form.text_field :heading %>
    <br>
    <%= form.label :content, 'コンテンツ' %>
    <%= form.text_area :content %>
    <br>
    <%= form.label :priority, '優先度' %>
    <%= form.number_field :priority %>
    <br>
    <%= form.submit %>
  </div>
<% end %>
