<div class="nested-fields">
  <div class="form">
    <%= f.label :date, '日付', class: 'required' %>
    <%= f.date_field :date %>
    <br>
    <%= f.label :starting_time, '開始時間' %>
    <%= f.time_field :starting_time %>
    <br>
    <%= f.label :ending_time, '終了時間' %>
    <%= f.time_field :ending_time %>
    <br>
    <%= f.label :site, '場所' %>
    <%= f.text_field :site %>
    <br>
    <%= f.label :description, '説明', class: 'required' %>
    <%= f.text_area :description %>
    <br>
    <%= f.label :is_online, 'オンライン開催' %>
    <%= f.check_box :is_online %>
  </div>

  <%= link_to_remove_association 'このイベントを削除', f, class: 'remove_field' %>
</div>
