<%= form_with(model: link, local: true, url: view.post_url, method: 'post') do | form | %>
  <div class="field">
    <%= form.label :url, 'URL ※必須' %>
    <%= form.text_field :url %>
    <br>
    <%= form.label :title, 'サイト名 ※必須' %>
    <%= form.url_field :title %>
    <br>
    <%= form.label :school, '流派' %>
    <%= form.text_field :school %>
    <br>
    <%= form.label :link_type, 'カテゴリ ※必須' %>
    <%= form.text_field :link_type %>
    <br>
    <%= form.submit %>
  </div>
<% end %>
