<div class="nested-fields">
  <div class="form">
    <%= f.label :name, 'タイトル ※必須' %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :image, '公演写真 ※必須' %>
    <%= f.file_field :image %>
  </div>
  <%= link_to_remove_association '公演写真を削除', f %>
</div>
