<%= form_with(model: welcome_event, local: true, url: 'welcome_event') do | form | %>
  <div class="field">
    <%= form.label :name, 'イベント名' %>
    <%= form.text_field :name %>
    <br>
    <%= form.label :is_published, '公開状態' %>
    <%= form.check_box :is_published %>
    <br>
    <%= form.label :description, 'イベント全体説明' %>
    <%= form.text_area :description %>
    <br>
    <div class="links">
      <%= link_to_add_association 'イベント追加',
                                  form,
                                  :each_events,
                                  partial: 'management/forms/each_event_fields' %>
    </div>

    <br>
    <%= form.submit %>
  </div>
<% end %>
