<!DOCTYPE html>
<html>
  <head>
    <title>京大金剛会<%= @view.page_title if defined?(@view) && defined?(@view.page_title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'reset.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if defined?(@view) && defined?(@view.optional_stylesheets) %>
      <% @view.optional_stylesheets.each do | css | %>
        <%= stylesheet_link_tag css, media: 'all', 'data-turbolinks-track': 'reload' %>
      <% end %>
    <% end %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="menu_area" id="global_nav_menu_open">
      <div class="menu">
        <p>menu</p>
      </div>
    </div>

    <nav class="global_nav">
      <div class="global_nav_wrap">
        <ul class="global_nav_menu">
          <li class="global_nav_menu_item"><%= link_to  "トップ", root_path %></li>
          <li class="global_nav_menu_item"><%= link_to  "京大金剛会", about_path %></li>
          <li class="global_nav_menu_item"><%= link_to  "公演記録", recital_record_path %></li>
          <li class="global_nav_menu_item"><%= link_to  "公演予定", recital_plan_path %></li>
          <li class="global_nav_menu_item"><%= link_to  "能楽漫画", manga_path %></li>
          <li class="global_nav_menu_item"><%= link_to  "リンク集", link_path %></li>
          <li class="global_nav_menu_item" id="global_nav_menu_close"><span class="close_menu"></span></li>
        </ul>
      </div>
    </nav>

    <%= yield %>

    <footer>
      <p>
        <% if member_signed_in? %>
          <%= link_to 'ログアウト', destroy_member_session_path, method: :delete, class: 'management_page_link' %>
        <% else %>
          <%= link_to '部員ログイン', management_root_path, class: 'management_page_link' %>
        <% end %>
      </p>
      <p>当サイトの内容、テキスト、画像等の無断転載・無断使用を固く禁じます。</p>
      <p>Unauthorized copying and replication of the contents of this site, text and images are strictly prohibited.</p>
      <br>
      <p>designed by Raitehu KIRISHIMA.</p>
    </footer>
  </body>
</html>
