<!DOCTYPE html>
<html>
  <head>
    <title>京大金剛会<%= @view.page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'reset.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% @view.optional_stylesheets.each do | css | %>
      <%= stylesheet_link_tag css, media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <footer>
      <p>当サイトの内容、テキスト、画像等の無断転載・無断使用を固く禁じます。</p>
      <p>Unauthorized copying and replication of the contents of this site, text and images are strictly prohibited.</p>
      <br>
      <p>designed by Raitehu KIRISHIMA.</p>
    </footer>
  </body>
</html>
